@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';

body {
    color: black;
}

.card {
    display: block;
    position: relative;
    &-url {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
    }
}