@font-face {
    font-family: "Signika";
    src: url("../../fonts/Signika-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Signika";
    src: url("../../fonts/Signika-Bold.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("../../fonts/Dosis-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Dosis";
    src: url("../../fonts/Dosis-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}